* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-4 {
    width: 33.33%;
    padding: 15px;
}

.col-3 {
    width: 25%;
    padding: 15px;
}

.col-9 {
    width: 75%;
    padding: 15px;
}

nav {
    display: flex;
    gap: 30px;
}

.header {
    background-color: black;
    padding: 36px 0;
}

.inner-header {
    color: white;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 14px;
}

h3 span {
    border-radius: 3px;
    background-color: #4A90E2;
    padding: 3px 5px;
}

.first-img {
    background: url(../assets/Bitmap.png)no-repeat center/cover;
    height: 560px;
}

.box {
    color: #fff;
    position: relative;
    overflow: hidden;
}

.card-btn {
    border-radius: 3px;
    background: #4A90E2;
    border: none;
    padding: 4px 12px;
    color: #fff;
    transition: 0.6s;
    position: absolute;
    top: 30px;
    left: -68px;
    cursor: pointer;
}

.card-btn:hover {
    background-color: rgb(55, 34, 134);

}

.box:hover .card-btn {
    left: 22px;

}

.inner-box {
    position: absolute;
    bottom: 20px;
    left: -335px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    transition: 0.6s;
    width: 335px;
}

.box:hover .inner-box {
    left: 22px;
}

.search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.custom-box .box {
    height: 265px;
}

.second-img {
    background: url(../assets/Bitmap\ \(1\).png) no-repeat center/cover;
}

.third-img {
    background: url(../assets/Bitmap\ \(3\).png) no-repeat center/cover;
}

.four-img {
    background: url(../assets/Bitmap\ \(2\).png)no-repeat center/cover;
}

.fifth-img {
    background: url(../assets/Bitmap\ \(4\).png)no-repeat center/cover;
}

.car-info-section {
    padding: 50px 0;
}

.car-info-section .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 154px;
}

.car-info {
    background: url(../assets/Bitmap\ \(5\).png) no-repeat center/cover;
    height: 590px;
    display: flex;
    align-items: flex-end;
}

.car-info-second {
    background: url(../assets/Bitmap\ \(6\).png) no-repeat center/cover;
    height: 590px;
    display: flex;
    align-items: flex-end;
}

.car-info-third {
    background: url(../assets/Bitmap\ \(7\).png) no-repeat center/cover;
    height: 590px;
    display: flex;
    align-items: flex-end;
}

.car-info-four {
    background: url(../assets/Bitmap\ \(8\).png) no-repeat center/cover;
    height: 590px;
    display: flex;
    align-items: flex-end;
}

.car-info-fifth {
    background: url(../assets/Bitmap\ \(9\).png) no-repeat center/cover;
    height: 590px;
    display: flex;
    align-items: flex-end;
}

.car-desc-wrapper {
    background-color: #fff;
    width: 1100px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    align-items: flex-start;
    margin-bottom: -111px;
}

.car-desc-wrapper h4 {
    font-size: 25px;
    color: #171717;
}

.car-desc-wrapper span {
    font-size: 14px;
    color: #666;
}

.car-desc-wrapper p {
    color: #666;
    font-size: 14px;
    font-family: PT Sans;
    line-height: 24px;
}

.inner-most {
    color: #171717;
    font-size: 30px;
    font-family: PT Sans;
    font-weight: 700;
    padding: 187px 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title h4 {
    color: #171717;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    font-family: 'PT Sans', sans-serif;
}

.title span {
    color: #666;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    font-family: 'PT Sans', sans-serif;
}

.inner {
    color: #171717;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'PT Sans', sans-serif;
}

.inner h4 {
    margin-top: 180px;
    margin-bottom: 20px;
}

.btn-bmw {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #4A90E2;
    cursor: pointer;
    padding: 4px 18px;
    border: none;
}

.btn-bmw:hover {
    background-color: rgb(55, 34, 134);
}

.stolb-img {
    display: flex;
    gap: 10px;
}

.title-recent {
    color: #FFF;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.pre-footer {
    background-color: #171717;
    padding: 40px 0 0;
}

h4 {
    color: #FFF;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.Premium h3 {
    color: #FFF;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.Premium p {

    color: #CECECE;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 35px;
}

.Premium button {
    color: #FFF;
    font-size: 14px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 3px;
    background: #232323;
    padding: 16px 64px;
}

.Premium h4 {
    color: #FFF;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;


}

.stolb-img {
    padding: 5px;
}

.stolb-img span {
    color: #CECECE;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;

}

.input {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.input input {
    border-radius: 3px;
    background: #373737;
    padding: 15px;
}

.inner-footer nav {
    display: flex;
    gap: 30px;

}

.footer-end{
    background-color: black;
    padding: 36px 200px;
}

.inner-footer {
    color: white;
    display: flex;
    justify-content: space-between;
}


